<footer class="container-fluid">
    <h1> Contact Us: </h1>
  <ul class="custom_list">
   <li><a href="https://www.instagram.com/meacont20/"><i class="fab fa-instagram"></i> meacont20</a></li> 
   <li><a href="https://www.facebook.com/Meacon-T20-107593687440773/"><i class="fab fa-facebook"></i> Meacon T20</a></li>
   <li><i class="fas fa-inbox"></i> meacon2020@gmail.com</li> 
   <li><a href="tel:9962144074"><i class="fa fa-mobile" aria-hidden="true"></i> 9962144074</a></li>
   <li><a href="tel:8667322914"><i class="fa fa-mobile" aria-hidden="true"></i> 8667322914</a></li>
   <li><i class="fas fa-map-marker-alt"></i><a id="map" href="https://goo.gl/maps/QP4PbTG4aFPS8Xst9"> Locate Us</a></li>
  </ul>
  </footer>