{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>
<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
  
    <div class="contents">
 <!-- PAPER TECHRIX -->        
        <div class="eventname">BLACK BOX (PANDORA'S BOX)</div> 
        
       <p class="quote"> "we glad to welcome you all to our event The Black Box, have fun and if you want to be the chosen one help us to seal the curse of the Black Box"</p>
        
        <div class="headings"><b>Round-1</b></div>
        
        <div class="text">  Solve the quest to save the dragon and to reach the unleashed cure </div>
        <div class="text"> Quest-1 => MCQ based question on basic electrical and electronic concepts </div>
         <div class="text"> Quest-2 => Simple problems on resistance </div>
        
        
        <div class="headings"><b>Round-2</b></div>
        
        <div class="text"> In this round the Black Box plays the major role in deciding your fortune </div>
        <div class="text">  Quest-1 => Find the equivalent resistance and it's implementation </div>
         <div class="text"> A team can have 2 or 4 members</div>
        
         <div class="headings"><b>cash prize</b></div>
        <div class="text"> Winner - Rs.1000</div>
        <div class="text"> Runner - Rs.750</div>
        <div class="text"> 2nd Runner up - Rs.500</div>
        
        
        <p class="quote"> "We welcome all to participate in the event to save the world from the curse"</p>
        
       
                
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> Aakash : <a href="tel:8610373460">8610373460</a></div>
        
        
        
    </div>
        
        
        
    </div>


{% endblock %}