{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>
<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
  
    <div class="contents">
 <!-- PAPER TECHRIX -->        
        <div class="eventname">fun-task-tick</div> 
         <p class="quote"> "Are u a fandom of fun? Here is  your platform. It has 3 rounds with fun filled activities."</p>
        
        <div class="headings"><b> Round-1 (Activity Round)</b> </div>
        
        <div class="text"> A fun activity will be given. The specified task must be performed within minimum time. The top teams which take the least time will be selected for the next round</div>
        
        <div class="headings"><b> Round-2 (Connections)</b> </div>
        
        <div class="text"> The team must need to identity the proverb based on the pictures displayed</div>
        
        <div class="headings"><b> Round-3 (Pictionary)</b> </div>
        
        <div class="text"> One member should draw the presented word. The other member must identify the word.</div>
        

        <div class="footer">" This is a team event. A team can consists of 2 or 3 members. so grab your friends and register quickly. Come, participate, enjoy and win exciting prizes. Hurry up because the clock is ticking ! "</div>
        
     
        
        <div class="headings"><b>cash prize</b></div>
        <div class="text"> Winner - Rs.1000</div>
        <div class="text"> Runner - Rs.750</div>
        <div class="text"> 2nd Runner up - Rs.500</div>

        
        
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> Karish Kumar : <a href="tel:9080898541">9080898541</a></div>
        
        
        
    </div>
        
        
        
    </div>
{% endblock %}