{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>

<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
  
    <div class="contents">
 <!-- PAPER TECHRIX -->        
        <div class="eventname">MIND O PEDIAS </div> 
        
   <!--     <div class="headings"><b> topics</b> </div>
        
        <div class="text"> Innovative topic related to any domain are welcome.</div>
        
-->
        <div class="headings"><b>ROUND-1 (Word seek)</b></div>
        
        <div class="text"> A word puzzle were the letters of the words need to be grouped from the pool of letters and player can find them based on clues provided </div>
        
        <div class="headings"><b>ROUND-2 (Visual Identity)</b></div>
        
        <div class="text">  Based on the visual provided on the screen the team has to answer the questions to enter the final round</div>
        
        <div class="headings"><b>ROUND-3 (snake and ladder)</b></div>
        
        <div class="text"> In the ancient Indian style let's play the game with our luck like a blue streak to finish the game</div>
        
        
        <div class="headings"><b>RULES</b></div>
        
        <div class="text"> * Only team participation is allowednd each team should have individual name </div>
        <div class="text"> * A team should have a maximum of 3 members </div>
        <div class="text"> * Electronic gadgets are not allowed inside the competetion </div>
        
        <p class="quote"> "we welcome all to participate in the event to squeeze your brain and win the prize"</p>
        
        
         <div class="headings"><b>cash prize</b></div>
        <div class="text"> winner - Rs.1000</div>
        <div class="text"> Runner - Rs.750</div>
        <div class="text"> 2nd Runner up - Rs.500</div>
        
        
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> NandaKishore : <a href="tel: 824-822-0148">8248220148</a></div>
           
    </div>
        
        
        
    </div>

{% endblock %}