{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>
<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
  
    <div class="contents">
 <!-- MIRACLE BOMBSHELL -->        
        <div class="eventname"> miracle bombshell </div> 
        
        <p class="quote"> " It's glad welcome, we bring you this to have  a absolute fun and joy by playing enthuse games which makes you to remember your childhood"</p>
        
        <div class="headings"><b> Game-1 (magical cookies) </b> </div>
        <div class="text"> Specifid task to complete within the given time and grasp the gifts </div>
        
        
        <div class="headings"><b> Game-2 (air blowing) </b> </div>
        <div class="text"> Your vital capacity helps to track this game and clutch the gifts </div>
        
        <div class="headings"><b> Game-3 (balood pyramid) </b> </div>
        <div class="text"> Built your pyramid within the time limits and get your gifts </div>
        
        <div class="headings"><b> Game-4 (flipping) </b> </div>
        <div class="text"> Arrest this with the keen concentration and win the gifts </div>
        
        <div class="headings"><b> Game-5 (brainvita) </b> </div>
        <div class="text"> Tune your brain to get the surprise gifts </div>
        
        <div class="headings"><b> Game-6 (no entry) </b> </div>
        <div class="text"> In this game you should concentrate more to click the gift </div>
        
        <p class="quote"> " Exciting and pleasing gifts are waiting for you "<br> Grab your friends and have delighted pleasure with the pretty gifts.</p>
        
                    
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> Pon Aravind Raj : <a href="tel:9962144074">9962144074</a></div>
                    
    </div>
        
        
        
    </div>
{% endblock %}