{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>
<div class="image">
    <div class="foryou"> OFFERS FOR YOU</div>
        <div class="container">
            <div class="offerlist"> Register for Workshop and Enjoy Food and Events for free</div>
            <div class="offerlist"> No Registration Fees for first 10 Bookings</div>
            <div class="offerlist"> Exciting Gifts Awaiting for first 200 Bookings through online</div>

        </div>

</div>   


{% endblock %}