{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>

<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
  
    <div class="contents">
 <!-- PAPER TECHRIX -->        
        <div class="eventname">paper techrix </div> 
        
        <div class="headings"><b> topics</b> </div>
        
        <div class="text"> Innovative topic related to any domain are welcome.</div>
        
        <div class="headings"><b>Rules</b></div>
        
        <div class="text"> * Maximum of 2 or 3 members per team </div>
        <div class="text"> * Submission of abstract for not more than 300 words before the due date </div>
        <div class="text"> * Papers must be in IEEE format  </div>
        <div class="text">* Use PPT format for presentation</div>
        <div class="text"> * Bring two hard copies of your paper in event day</div>
        <div class="text"> * The presentation should last a maximum of 7 minutes. There will be a 3 minutes query and answer session following it. </div>
        <div class="text">* Judgement based on content and way of presentation </div>
        <div class="text"> * All participants will get participation certificate</div>
        
        
        <p class="quote"> "we all welcome you to parcipate in this event and express your though to solve the problem around us in prespective of the future engineer"</p>
        
        <div class="headings"><b>cash prize</b></div>
        <div class="text"> Winner - Rs.1000</div>
        <div class="text"> Runner - Rs.750</div>
        <div class="text"> 2nd Runner up - Rs.500</div>
        
        <div class="footer">Submit Your Abstract in <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox  " target="_blank"> papers.meacont20@gmail.com</a> <br>Due date for Submission of abstract = 10/02/2020<br> Intimation of selected paper = 11/02/2020</div>
        
        
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> Mogith : <a href="tel:7904039334">7904039334</a></div>
        
        
        
    </div>
        
        
        
    </div>

{% endblock %}