{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>
<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
   
    <div class="contents">
 <!-- RETROFITZZ -->        
        <div class="eventname">RETROFITZZ </div> 
        
        <div class="headings"><b>Round -1 (the law breaker)</b> </div>
        
        <div class="text"> This round will refresh your brain with basic concepts.</div>
        
        <div class="headings"><b> round -2 (think & link)</b> </div>
        
        <div class="text"> Complete with teams - connect the hints - find the hidden one</div>
        
        <div class="headings"><b> round -3 (rush hour)</b> </div>
        
        <div class="text"> Track your time-make a speedy move - accomplish the mission</div>
        <div class="footer"> -- Maximum of 3 and minimum 2 in a team --  </div>    
        <p class="quote"> " Grab your friends and have fun with us. we'll refresh your brain ! "</p>
        
        <div class="headings"><b>cash prize</b></div>
        <div class="text"> Winner - Rs.1000</div>
        <div class="text"> Runner - Rs.750</div>
        <div class="text"> 2nd Runner up - Rs.500</div>
    
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> krishna Balaji : <a href="tel:9791504376">9791504376</a></div>  
        
    </div>

    </div>

{% endblock %}