{% extends 'base_site.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app.js' %}"></script>
<div id="video-container">
    <video autoplay  muted loop  class="video">
        <source src="{% static 'img/backvideo.mp4' %}" type="video/mp4">
        </video>
        
        
  
    <div class="contents">
 <!-- PAPER TECHRIX -->        
        <div class="eventname">Tag and Win </div> 
        
        <div class="headings"><b>Rules</b></div>
        
        <div class="text"> * follow our official account <a href="https://instagram.com/meacont20?igshid=xij8lx8wfswj" target="_blank">meacont20</a>on Instagram </div>
        <div class="text"> * Do like our <a href="">#tagandwin</a> Event poster in our feed  </div>
        <div class="text"> * Ensure that your tagged friend must follow our insta account  </div>
        <div class="text">* Only Engineering and Diploma Students must be tagged</div>
        <div class="text"> * Contest ends on 14th February 2020</div>
        
        
        <p class="quote"> "Stand a chance to win the cash prize. The winner will be announced at our symposium " </p>
        
        <div class="headings"><b>cash prize</b></div>
        <div class="text"> Winner - Rs.1000</div>
        
        <div class="headings"><b>Event coordinator</b> </div>
        <div class="text"> Sujith : <a href="tel:8939795059">8939795059</a></div>
        
        
        
    </div>
        
        
        
    </div>

{% endblock %}